*, *:after, *:before {
    box-sizing: border-box;
}

img, svg {
    max-width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-size: 13px;
    font-family: 'Open Sans', helvetica, arial, sans-serif;
}

a,
a:visited {
    text-decoration: none;
    color: #007ee9;
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

p {
    margin: 0 0 10px;
}

.site {
    height: 100vh;
    background: url(/assets/london-skyline@2x.jpg) no-repeat center center fixed #ffffff;
    background-size: cover;
}

footer {
    padding: 10px;
    color: #b1b1b1;
}

.input {
    font-family: inherit;
    font-size: inherit;
    height: 50px;
    line-height: 50px;
    display: inline-block;
    padding: 0 18px;
    border-radius: 5px;
    border: 1px solid #007ee9;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.20);
    -webkit-appearance: none;
}

::-webkit-input-placeholder {
   color: #b1b1b1;
}

:-moz-placeholder { /* Firefox 18- */
   color: #b1b1b1;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #b1b1b1;
}

:-ms-input-placeholder {
   color: #b1b1b1;
}

.content {
    padding: 20px;
    max-width: 450px;
}

.message {
    margin-bottom: 40px;
}

.submit-button {
    cursor: pointer;
    top: 0px;
    right: 0px;
    border: 0;
    padding: 18px 18px 16px;
    background: transparent;
}

.submit-button svg {
    fill: #007ee9 !important;
}

.content-logo {
    padding: 0 0 40px;
}

.tabs {
  position: relative;
}

.tab {
  float: left;
}

.tab label {
    padding: 0 5px;
    cursor: pointer;
    color: #007ee9;
}

.tab [type=radio] {
  display: none;
}

.tab-content {
  position: absolute;
  display: none;
  top: 28px;
  left: 0;
  right: 0;
  bottom: 0;
}

[type=radio]:checked ~ label {
    color: inherit;
    cursor: auto;
}

[type=radio]:checked ~ label ~ .tab-content {
    display: block;
}

.u-relative {
    position: relative;
}

.u-absolute {
    position: absolute;
}

.u-full-width {
    width: 100%;
}

.u-flex-grow {
    flex-grow: 1;
}

.u-flex {
    display: flex;
}

.u-direction-column {
    flex-direction: column;
}

.u-justify-center {
    justify-content: center;
}

.u-align-center {
    align-items: center;
}

.u-text-center {
    text-align: center;
}